.codebar{
    width: 600px;
    background-color: #272822;
    position: relative;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 15px;
    gap: 15px;
    border-bottom: 2px solid #333;
}

.item{
    display: flex;
    height: 50px;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.activeTab{
    background-color: #1f55fa;
    color: white;
    transition: 600ms all;
}